#body{
	position: relative;
}
/* COLLECTION */
#partylist li{
	display: inline-block;
	width: 175px;
	height: 175px;
	text-align: center;
}
	#partylist li:hover, #partylist li.selected{
		cursor: pointer;
		background: blue;
	}
	
#partylist li img{
	width: 150px;
	height: 150px;
}

/* SIDEBAR */
#sidebar{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #999;
	width: 20%;
	z-index: 999;
}
	#sidebar button.colldel{
		display: none;
	}
	
/* FUNNEL */
#funnel{
	display: block;
	overflow: hidden;
}
#funnel .funnelslot{
	position: relative;
	width: 208px;
	height: 600px;
	border: 1px solid black;
	float: left;
}

#funnel .funnelitem{
	position: absolute;
	right: 100px;
	width: 200px;
	height: 100px;
	margin: 5px;
	background: #999;
}
	
/* PLAYLIST */
#queue {
	float: left;
	width: 50%;
	height: 500px;
}

#queue .highlight{
	background: blue !important;
}
#queue .audio{
	background: #999;
}
/* PLAYBACK */
#playback{
	float: left;
	width: 50%;
	background: blue;
}

/* POPUP */
ul#eventlist{
	position: absolute;
	top: 0px;
	left: 0px;
}

ul#eventlist li{
	margin: 10px;
	padding: 5px;
	width: 150px;
	background: #666;
}

	ul#eventlist li.add{
		background: green;
	}
	
	ul#eventlist li.delete{
		background: red;
	}
