#main{
	float: left;
	display: 80%;
}
#partylist{
	overflow: hidden;
}
#partylist li{
	float: left;
	width: 175px;
	height: 175px;
	text-align: center;
}
	#partylist li:hover{
		cursor: pointer;
		background: grey;
	}
	
#partylist li img{
	width: 150px;
	height: 150px;
}

#sidebar{
	float: left;
	width: 20%;
}
