#main ul{
	list-style-type: none;
}

ul li.top{
	border: 1px solid black;
	max-width: 200px;
}
	ul li.top a{
		padding: 20px;
		display: block;
	}
		ul li.top a:hover{
			background-color: grey;
		}	

ul.sub{
	display: none;
}
ul.sub li{
	padding: 10px;
}
