html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
}

html {
	z-index: 100;
	overflow: hidden;
  background-image: url(../images/rauschen.png);
  background: url(../images/rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#257fd7), to(#164b7f));
  background: url(../images/rauschen.png), -webkit-radial-gradient(circle, #257fd7, #164b7f);
  background: url(../images/rauschen.png), -moz-radial-gradient(circle, #257fd7, #164b7f);
  background: url(../images/rauschen.png), -ms-radial-gradient(circle, #257fd7, #164b7f);

}





.disabled {
	display: none;
}





#currentlyPlaying{
	position: fixed;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.medium{
	top: 0;
	right: 40%;
	width: 60%;
	height: 100%;
	overflow: hidden;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.full{
	top: 0;
	right: 0%;
	width: 100%;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

#containerCover{
	position: absolute;
	background: white;
	width: 300px;
	height: 300px;
	top: 40%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	box-shadow: #000000 0px 0px 50px;
	background-size: cover;
}

#containerMeta{
	position: absolute;
	width: 300px;
	height: 50px;
	left: -150px;
	margin-left: 50%;
	top: 40%;
	margin-top: 180px;
	color: #fff;
	text-shadow: 0px 0px 5px #444444;
}

#cSong{
	color: #B4B4B4;
}

#cTime{
	position: absolute;
	color: #fff;
	top: 40%;
	margin-top: 180px;
	text-align: right;
	left: 50%;
	margin-left: -230px;
	width: 70px;
}

#cChosen{
	position: absolute;
	top: 40%;
	margin-top: -120px;
	text-align: right;
	left: 50%;
	margin-left: -210px;
	width: 70px;
	height: 60px;
	background-color: #FFFFFF;


	box-shadow: #000000 0px 0px 50px;
	border-radius: 5px;
}

#cChosenInner{
	position: absolute;
	top: 5px;
	left: 5px;
	height: 50px;
	width: 50px;
	background-size: cover;
}

#containerFunnel{
	position: fixed;
	background-color: #fff;
	box-shadow: #000000 -3px 0px 50px;
	height: 100%;
	width: 40%;
	right: 0%;
}

#cNext{
	position: absolute;
	height: 20%;
	width: 42%;
	right: 0;
	box-shadow: #000000 -3px 0px 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b4b4b4;
	z-index: 200;
}

#cNextInner{
	position: absolute;
	margin-left: 20%;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	color: #f6ff00;
	
}

.cVote{
	position: relative;
	width: 100%;
	height: 19%;
	margin-top: 1%;
	background-size: contain;
	background-repeat: no-repeat;
}

#arrow{
	position: fixed;
	top: 0px;
	height: 20%;
	width: 20px;
	right: 42%;
	z-index: 201;
	background-image: url(../images/arrow.png);
	background-size: 20px 100%;
	background-repeat: no-repeat;
	background-position: right;
	
}

.csVoteInner{
	position: absolute;
	font-weight: normal;
	color: #fff;
	width: 100%;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	left: 16%;
	font-size: 18px;
	
	/* box-shadow: 0 0 20px 10px #3e3e3e; */
}

.vtitle{
	font-weight: bold;
	color: #f6ff00;
}

.vartist{
	font-weight: normal;
	color: #fff;
}
#cSongs{
	position: absolute;
	height: 80%;
	width: 40%;
	right: 0;
	margin-top: 20%;
	background-color: #3e3e3e;
	box-shadow: #000000 -3px 0px 50px;
}

#cs1{
	opacity: 0.9;
}

#cs2{
	opacity: 0.8;
}

#cs3{
	opacity: 0.7;
}

#cs4{
	opacity: 0.6;
}

#cs5{
	opacity: 0.5;
}

.csTrend{
	opacity: 1;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 10px;
	color: #fff;
}

.csPerson{
	opacity: 1;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 45px;
	background-size: cover;
}

#progressbar{
	position: absolute;
	background: white;
	width: 300px;
	height: 5px;
	left: -150px;
	margin-left: 50%;
	top: 40%;
	margin-top: 160px;
	box-shadow:inset 0 0 5px #000000;
	border-radius: 2px;
	overflow: hidden;

}

#progressbar-inner{
	position: relative;
	background: #f6ff00;
	top: 0;
	width: 0px;
	height: 100%;
	z-index: 100;
	border-radius: 2px;

}

.