<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://webinos.org/apps/partyplayer/guest" version="0.8.1">  
	<name>PartyPlayer Guest</name>  
	<description>Join the party and share your music and decide on the playlist.</description>
	<author href="https://github.com/webinos/app-PartyPlayer/blob/0.8.1/README.md" email="partyplayer@servicelab.org">TNO</author>
	<content src="guest/index.html"/>  
	<icon src="library/icon-party-player.png"/>   
</widget>