body {
	font-family: sans-serif;
}
#log { 
	clear: both;
}
.logline {
    font-family: monospace;
    color: #ddd;
    background: #333;
    clear: both;
}
h2{
	margin-left:20px;
	font-size:16px;
}
ul {
	margin-left:0px;
	padding:0px;
	list-style-type: none;
}
.screen {
	display: none;
	width:480px;
	height:400px;
	border:solid #000000 1px;	
}
/*selectProfile*/
.profilePic {
	width:100px;
	height:100px;
	display:block;
}
.profileName{
	width:100px;
	font-family:verdana;
	margin:0px;
	text-align:center;
}
.profileItem {
	float:left;
	display:inline;
	margin:20px;
	padding:5px;
	cursor: pointer;
}
.profileItem:hover{
	background:#93B0BF;
}
/*currentCollection*/
.centeredContainer{
	margin-left:auto;
	margin-right:auto;
	width:95%;
	border:0;
	background:#DDDDDD;
}
#collection{
	border-top:solid #593634 1px;
	border-bottom:solid #593634 1px;
	margin-bottom:10px;
	padding:1px;
}
.collectionItem{
	font-size:14px;
	font-family:verdana;
}
#addItemsBtnContainer{
	border:0;
}
#addItemsBtn{
	width:100%;
}
/*selectLocalItems*/
#localCollection{
	width:100%;
}
#shareItemsBtn{
	width:100%;
}
#shareItemsBtnContainer{
	border:0;
}
/* ... */
tr:nth-child(even) {
	background: #E0D97F;
	color: #593634;
}
tr:nth-child(odd) {
	background: #F3F69F;
	color: #593634;
}
.menuBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #86ae47;
}.menuBtn:hover {
	background-color:#a5cc52;
	cursor:pointer;
}.menuBtn:active {
	position:relative;
	top:1px;
}
#guestApp{
	margin-top: 20px;
	padding:20px;
	background-color:#efefef;
}